@import 'cssdrop';
@import 'service';
@import 'fonts';
@import 'swiper';

:root {
  font-size: 12px;
  color: $c-text;
}

html,
body,
select {
  font-family: Eczar, sans-serif;
  font-size: 1rem;
  background-color: $c-main;

}

html {
  //display: flex;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

@import 'header';
@import 'hero';
@import 'advantages';
@import 'reviews';
@import 'cart';
@import 'footer';
