@import 'cssdrop';
@import 'service';
@import 'fonts';
@import 'swiper';

:root {
  font-size: 12px;
  color: $c-text;
}

html,
body,
select {
  font-family: Eczar, sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@import 'header';
@import 'hero';
