@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  all: unset;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  appearance: none;
}

a, button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li, nav li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.flex, .hero .info_block .title, .hero .quantity, .hero .quantity_wrapper, header .icons, header nav, header .logo, header .content {
  display: flex;
  align-items: center;
}

.wrapper, .hero .content, header .content {
  max-width: 1440px;
  margin: 0 auto;
}

.btn_shadow:before, .hero .quantity:before, .hero form .select:before, .btn_shadow:after, .hero .quantity:after, .hero form .select:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
}
.btn_shadow:before, .hero .quantity:before, .hero form .select:before {
  box-shadow: rgb(53, 80, 128) 0px 4px 1px 0px;
}
.btn_shadow:after, .hero .quantity:after, .hero form .select:after {
  box-shadow: rgb(53, 80, 128) 0px 0px 0px 2px;
}

@font-face {
  font-display: swap;
  font-family: "Eczar";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eczar.woff2") format("woff2");
}
.swiper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecc83c;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 3px solid #355080;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 19%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: rgba(53, 80, 128, 0.75);
  top: 90%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px;
  font-weight: bold;
}

:root {
  font-size: 12px;
  color: #355080;
}

html,
body,
select {
  font-family: Eczar, sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-color: #ecc83c;
}
header .content {
  height: 100px;
  padding: 0 60px;
}
header .logo {
  margin-right: calc(2rem + 9px);
}
header .logo .container {
  width: 100px;
}
header nav {
  flex-grow: 1;
  font-size: 1.4rem;
}
header nav a {
  padding: 0 1.2rem;
  color: #636e6f;
}
header nav a:hover {
  color: #355080;
  text-decoration: underline;
}
header .icons {
  gap: 20px;
  justify-content: flex-end;
}
header .icons .element {
  cursor: pointer;
  justify-content: center;
}
header .icons a:hover {
  transform: scale(1.1);
}
header .icons .container {
  width: 24px;
}
header .icons .element:nth-child(2) .container {
  width: 22px;
}
header .icons img {
  color: #355080;
}
header .burger {
  display: none;
}
header .burger .container {
  width: 24px;
}
header .burger .container.hide {
  display: none;
}
@media (max-width: 1024px) {
  header .burger {
    display: flex;
  }
  header nav {
    display: none;
  }
  header .burger, header .icons {
    flex-basis: 15%;
  }
  header .logo {
    flex-grow: 1;
    justify-content: center;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  header .content {
    padding: 0 10px;
  }
}

.hero {
  background-color: #ecc83c;
}
.hero .content {
  display: flex;
  gap: 60px;
}
.hero .section {
  flex-basis: 50%;
  min-width: 0;
}
.hero .left {
  padding: 0 0 2rem 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hero .slider {
  padding-top: 2rem;
  height: 600px;
  position: sticky;
  top: 0;
}
.hero .right > *,
.hero .select,
.hero form input {
  margin-bottom: 1.6rem;
}
.hero .select option {
  cursor: pointer;
}
.hero .right {
  padding: 2rem 5rem 2rem 0;
}
.hero .right h1 {
  font-size: 52px;
}
.hero .right .reviews {
  font-size: 1.6rem;
}
.hero .right .price {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.hero .right .tax {
  font-size: 1.2rem;
}
.hero form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.hero form input,
.hero form label {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
}
.hero form select {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #ecc83c;
  box-shadow: rgb(53, 80, 128) 0px 0px 0px 0px;
  transition: box-shadow 0.2s ease;
  padding: 0 2rem;
  color: #355080;
  font-size: 1.2rem;
  border-radius: 12px;
}
.hero form select:focus, .hero form select:hover {
  box-shadow: rgb(53, 80, 128) 0px 0px 0px 3px;
  outline: 0;
  transition: box-shadow 0.2s ease;
}
.hero form .select {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 25rem;
  height: 4.5rem;
}
.hero form .select:after {
  border: 0.1rem solid transparent;
}
.hero form .select svg {
  height: 0.6rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 0.2rem);
  right: calc(2px + 1.5rem);
}
.hero .quantity {
  position: relative;
  border-radius: 12px;
  min-height: 4.5rem;
}
.hero .quantity_button {
  flex-shrink: 0;
  width: 4rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  padding: 0;
}
.hero .quantity_button svg {
  width: 1.2rem;
}
.hero .quantity_input {
  max-width: 40px;
  font-size: 1.4rem;
  opacity: 0.85;
  text-align: center;
  flex-grow: 1;
  margin-bottom: 0;
}
.hero .buttons_block {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hero .buttons_block button {
  position: relative;
  height: 5rem;
  width: 100%;
  border-radius: 12px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #6C82A9;
  transition: box-shadow 0.1s ease;
}
.hero .buttons_block button:before, .hero .buttons_block button:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
}
.hero .buttons_block button:before {
  box-shadow: 0px 2px 5px 0px rgba(53, 80, 128, 0.9);
}
.hero .buttons_block button:hover {
  box-shadow: rgba(108, 130, 169, 0.6) 0px 0px 0px 3px;
  transition: box-shadow 0.1s ease;
}
.hero .info_block h2 {
  font-size: 1.6rem;
}
.hero .info_block p {
  font-family: "Times New Roman", sans-serif;
  color: rgba(53, 80, 128, 0.75);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.hero .info_block a {
  text-decoration: underline;
  color: rgba(108, 130, 169, 0.85);
  font-size: 1.5rem;
}
.hero .info_block a:hover {
  color: rgb(108, 130, 169);
}
.hero .info_block .element {
  border-top: 0.1rem solid rgba(53, 80, 128, 0.08);
  border-bottom: 0.1rem solid rgba(53, 80, 128, 0.08);
}
.hero .info_block .title {
  position: relative;
  padding: 2rem 0;
}
.hero .info_block .title .icon {
  margin-right: 1rem;
  width: 26px;
  height: 26px;
}
.hero .info_block .title .expand_btn {
  cursor: pointer;
  padding: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}
.hero .info_block .title .expand_btn .arr {
  height: 0.6rem;
  pointer-events: none;
}
.hero .info_block .title svg {
  fill: #355080;
}
.hero .info_block .accordion_content {
  margin-bottom: 1.5rem;
}
.hero .info_block .accordion_content img {
  box-shadow: rgb(53, 80, 128) 0px 6px 0px 0px;
  border: 2px solid rgb(53, 80, 128);
  border-radius: 12px;
  max-width: 85%;
}

@media (max-width: 991px) {
  .hero .content {
    flex-direction: column;
    gap: 40px;
  }
  .hero .left, .hero .right {
    padding: 2rem 5rem;
  }
  .hero .right h1, .hero .right .reviews {
    text-align: center;
  }
  .hero .right .price_block {
    text-align: right;
  }
  .hero .right .reviews span {
    display: block;
    margin-top: 0.5rem;
  }
  .hero .right form .select {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .hero {
    /*.left {
      order: 1;
    }
    .right {
      order: 0;
    }*/
  }
  .hero .content {
    gap: 20px;
  }
  .hero .left, .hero .right {
    padding: 1rem 2rem;
  }
  .hero .slider {
    height: 500px;
  }
  .hero .swiper-button-next, .hero .swiper-button-prev {
    top: 93%;
  }
  .hero .mySwiper {
    height: 25%;
  }
}
@media (max-width: 424px) {
  .hero .swiper-button-next, .hero .swiper-button-prev {
    display: none;
  }
  .hero .slider {
    height: 360px;
  }
  .hero .swiper {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
